@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "~swiper/swiper-bundle.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
//@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/newsletter";
@import "components/brands";
@import "components/back-to-top";
@import "components/hamburger";
@import "components/contact-page";

/*** HEADER ***/
#header {
  background: white;
  color: $gray;
  h1 {
    margin: 0;
  }
  .logo {
    max-width: 100%;
  }
  a {
    color: $gray-darker;
    &:hover {
      text-decoration: none;
      color: $link-hover-color;
    }
  }

  #_desktop_contact_phone {
    .contact-phone-icon {
      display: inline-block;
      vertical-align: bottom;
      background-image: url(../img/whatsapp.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
  }

  .header-shipment-banner {
    font-size: 14px;
    display: flex;
    &::before,
    &::after {
      content: '';
      flex-grow: 1;
    }
    &::before {
      background-color: $brand-orange;
    }
    &::after {
      background-color: #3c3c3c;
    }

    .container-shipment-banner {
      padding: 0;
      display: flex;
    }

    .col-orange {
      height: 50px;
      padding: 0 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: $brand-orange;
      color: #fff;
    }
    .col-gray {
      height: 50px;
      padding: 0 15px;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #3c3c3c;
      color: #fff;
      .text-orange {
        color: $brand-orange;
      }
      #_desktop_contact_phone:not(:hover) {
        color: #fff;
      }
      .contact-phone-icon {
        filter: invert(1);
        margin-left: 15px;
        margin-right: 5px;
      }
    }
  }

  .header-top {
    @include media-breakpoint-down(sm) {
      border-bottom: 15px solid $brand-gray;
    }
    > .container {
      position: relative;
    }
    .menu {
      display: flex;
    }
    .col-logo {
      height: 72px;
      display: flex;
      align-items: center;
    }
    .col-search-widget {
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .col-right-useractions {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #3c3c3c;
      font-size: 14px;
    }

    #contact-link {
      font-weight: 600;
      text-transform: uppercase;
      padding-right: 20px;
    }

    #user-info {
      font-weight: 600;
      text-transform: uppercase;
      padding-right: 20px;
      a {
        display: flex;
      }
      i {
        color: #9d9d9d;
      }
      .icon-base64 {
        margin-right: 8px;
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAA9UlEQVQ4y6WSMUsDQRCFv9urA7EwlWwjCmIjoqQZ+4AW/lSLWFikyusUCwsF0eYwjZZplCTGwuHQcLdJLq+cfe9b3jAZFTKzXeAM2PHRGzCU9LrozSrCp8A51bqWdPt3EBbCbaBHvXruqQYAh0CeAOTuqQW0WK5WCjBeATBOAR6BWSI8c8+/TqWKoviMMX4BezWAG0kvtQCHjGKMI2DL+875vYO+pIcVKq6n8pDM7AA4BjrAN/AMfPjzNrDvO3sH7iU9lQAzuwBO1vz8TlI/M7Mj4LJhg6sAdDdYQTd456bqBNK3v0x5AKYbAKYBGACTBuEJMPgB5qw8ulqIjQIAAAAASUVORK5CYII=") no-repeat center center;
      }
    }

    #icon-cart {
      @include media-breakpoint-down(sm) {
        padding-right: 20px;
      }
      .cart-products-icon {
        position: relative;
        i {
          color: #9d9d9d;
        }
        .icon-base64 {
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABEklEQVQ4y63Uvy5EURDH8c9dhJUgKxqFjU6v0RxP4Ak8hdZzeAutRqcxlUYlUYmsxZKIfwmLxCrcxLq5sn/sJJOcmTP5nt+cOTlZSmkLNT92j52I6BjQKpgp5GqYHxQEWUppEXN5vJHDb/A6IOsh645SSptYGUYV3iuFxPWQILgaJaxZhLX+Abv8BYuIR7yMStmw6p4j4nlUsCbfj7ZowwzhAsZ7wHb193ibf8Hu8IEJrKHdA3QWEeelsIjopJRaWMJyH6pmcQRjxZ2U0lSuaDpv8cT3UIo+iSo69Xr9tNFotMvaXMVCvq7iICKeCgdm2O5Sto69smkW/7Gymiz3noXHOM+HcBgRDyX3+ol9vOEWAV8VcVI/urc+CQAAAABJRU5ErkJggg==") no-repeat center center;
        }
        .cart-products-count {
          position: absolute;
          right: 1px;
          top: -8px;
          border-radius: 50%;
          width: 17px;
          height: 17px;
          line-height: 17px;
          background-color: $brand-orange;
          color: #fff;
          font-size: 10px;
          text-align: center;
        }
      }
      .cart-products-total {
        font-weight: bold;
      }

      .cart-floating-fixed {
        position: fixed;
        left: 30px;
        bottom: 25px;
        width: 43px;
        height: 43px;
        box-shadow: 0px 4px 13.6px 2.4px rgba(0, 0, 0, 0.12);
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        .cart-products-icon {
          position: static;
        }
        .icon-base64 {
          margin: 0;
        }
        .cart-products-count {
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 11px;
          right: -5px;
        }
      }
    }


  }
  .header-top-menu {
    @include media-breakpoint-down(sm) {
      border-bottom: 15px solid $brand-gray;
    }
    @include media-breakpoint-up(md) {
      background-color: $header-menu-bgn;
    }
  }
  .top-menu-link {
    margin-left: $medium-space;
  }

  .header-top-mobile-search {
    @include media-breakpoint-down(sm) {
      border-bottom: 15px solid $brand-gray;
    }
  }
}

.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  background: $wrapper-bgn;
  //box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);
  //padding-top: 1.563rem;
  .banner {
    position: relative;
    img {
      width: 100%;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .banner-content {
      display: flex;
      align-items: center;
      color: #fff;
      @include media-breakpoint-down(md) {
        padding: 4rem 0;
        background-position: center;
        background-size: cover;
      }
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: none;
      }
    }
    .banner-title {
      font-size: 32px;
      line-height: 1.25;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: .1em;
      max-width: 550px;
      @include media-breakpoint-up(lg) {
        font-size: 48px;

      }
    }
    .banner-text {
      line-height: 1.625;
      margin-bottom: 1em;
      max-width: 550px;
    }
    .banner-button {
      font-weight: 700;
    }
    .chat_button {
      position: absolute;
      right: 40px;
      bottom: -47px;
      display: block;
      width: 95px;
      height: 95px;
      background-image: url(../img/chat_button.png);
      background-repeat: no-repeat;
      background-position: center center;
      filter: drop-shadow(10px 4px 27px rgba(0,0,0,.21));
      cursor: pointer;
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 0;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin: 24px 0;
      font-size: 12px;
      line-height: 24px;
      color: #656565;
      text-transform: uppercase;
    }
    li {
      display: inline;
      &::after {
        content: "/";
        color: $brand-orange;
        margin: 0.3125rem;
      }
      &:last-child {
        content: "/";
        margin: 0;
        &::after {
          content: "";
        }
      }
      a {
        color: inherit;
        &:hover {
          color: $brand-orange;
        }
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** FOOTER ***/
#footer {
  padding-top: 2.5rem;
}

/*** Responsive part ***/
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  #header {
    .logo {
      width: auto;
    }
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 15.63rem;
    margin: 0 auto 0.9375rem;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #header {
    &.is-open {
      background-color: white;
      .header-top {
        background-color: white;
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }

  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  #footer {
    padding-top: 0.5rem;
  }
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

input[type=number] {
  -moz-appearance:textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
