@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "~swiper/swiper-bundle.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/newsletter";
@import "components/brands";
/*** HEADER ***/
#header {
  background: white;
  color: $gray;
  .logo {
    max-width: 100%;
  }
  a {
    color: $gray-darker;
    &:hover {
      text-decoration: none;
      color: $link-hover-color;
    }
  }

  #_desktop_contact_phone {
    .contact-phone-icon {
      display: inline-block;
      vertical-align: bottom;
      background-image: url(../img/whatsapp.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
  }

  .header-nav {
    font-size: 14px;
    .col-orange {
      height: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: $brand-orange;
      color: #fff;
      text-align: right;
    }
    .col-gray {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #3c3c3c;
      color: #fff;
      .text-orange {
        color: $brand-orange;
      }
      #_desktop_contact_phone:not(:hover) {
        color: #fff;
      }
      .contact-phone-icon {
        filter: invert(1);
        margin-left: 15px;
        margin-right: 5px;
      }
    }
  }

  .header-top {
    > .container {
      position: relative;
    }
    .menu {
      display: flex;
    }
    .col-logo {
      height: 72px;
      display: flex;
      align-items: center;
    }
    .col-search-widget {
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .col-right-useractions {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #3c3c3c;
      font-size: 14px;
    }

    #_desktop_contact_link {
      #contact-link {
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 20px;
      }
    }

    #_desktop_user_info {
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 20px;
      i {
        color: #9d9d9d;
      }
    }

    #_desktop_cart {
      .cart-products-icon {
        position: relative;
        i {
          color: #9d9d9d;
        }
        .cart-products-count {
          position: absolute;
          right: -4px;
          top: -8px;
          border-radius: 50%;
          width: 17px;
          height: 17px;
          line-height: 17px;
          background-color: $brand-orange;
          color: #fff;
          font-size: 10px;
          text-align: center;
        }
      }
      .cart-products-total {
        font-weight: bold;
        margin-left: 4px;
      }
    }


  }
  .header-top-menu {
    background-color: $header-menu-bgn;
  }
  .top-menu-link {
    margin-left: $medium-space;
  }
}

.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  background: $wrapper-bgn;
  //box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);
  //padding-top: 1.563rem;
  .banner {
    position: relative;
    img {
      width: 100%;
    }
    .banner-content {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      color: #fff;
    }
    .banner-title {
      font-size: 48px;
      line-height: 1.25;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: .1em;
      max-width: 550px;
    }
    .banner-text {
      line-height: 1.625;
      margin-bottom: 1em;
      max-width: 550px;
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 0;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "/";
        color: $gray;
        margin: 0.3125rem;
      }
      &:last-child {
        content: "/";
        color: $gray;
        margin: 0;
        &::after {
          content: "";
        }
      }
      a {
        color: $gray-darker;
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** FOOTER ***/
#footer {
  padding-top: 2.5rem;
}

/*** Responsive part ***/
@include media-breakpoint-down(lg) {
  #header {
    .header-nav {
      max-height: inherit;
      .search-widget {
       float: none;
       width: 15.63rem;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  #header {
    .logo {
      width: auto;
    }
    .header-top {
      .search-widget {
        min-width: inherit;
      }
    }
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 15.63rem;
    margin: 0 auto 0.9375rem;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #header {
    background: $gray-light;
    .header-nav {
      background: white;
      margin-bottom: 0.625rem;
      color: $gray-darker;
      .top-logo {
        padding-top: 11px;
        a {
          img {
            max-height: 50px;
            max-width: 100%;
          }
        }
      }
      .right-nav {
        flex-direction: column;
      }
      .user-info {
        text-align: left;
        margin-left: 0;
        .logged {
          color: $brand-primary;
        }
      }
      .blockcart {
        margin-left: 0;
        background: inherit;
        &.active {
          margin-left: 0.5rem;
        }
        &.inactive {
          .cart-products-count {
            display: none;
          }
        }
      }
    }
    .header-top {
      background: $gray-light;
      padding-bottom: 0;
      a[data-depth="0"] {
        color: $gray-darker;
      }
      .search-widget {
        width: 100%;
      }
    }
    &.is-open {
      background-color: white;
      .header-top {
        background-color: white;
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  #footer {
    padding-top: 0.5rem;
  }
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

input[type=number] {
  -moz-appearance:textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
