#back-to-top {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 25px;
  width: 43px;
  height: 43px;
  background-image: url(../img/back-to-top.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0px 4px 13.6px 2.4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}