//contact page
#contact {
  .contact-page-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 3em;
  }

  .contact-page-title {
    font-size: 30px;
  }

  .page-content.card.card-block {
    border: none;
    box-shadow: 0px 0px 44.59px 4.41px rgba(0, 0, 0, 0.1);
  }
  .form-control-select {
    height: auto !important;
  }

  label[for="contact-rodo-checkbox"] {
    //margin-top: 2em;
    font-size: 12px;
    position: relative;
    color: #9d9d9d;
    text-align: left;
    input[type=checkbox] {
      opacity: 0;
      & + .material-icons {
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 12px;
        color: $brand-orange;
      }
      & + .material-icons::after {
        content: 'radio_button_unchecked';
      }
      &:checked + .material-icons::after {
        content: 'check_circle';
      }
    }
  }

  #search_filters_brands {
    display: none !important;
  }
  #users_reviews_slider {
    display: none !important;
  }
  #contact_title {
    display: none !important;
  }
  #footer .block-contact {
    display: none !important;
  }
  #footer .links {
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(xl) {
      ul {
        columns: 2;
      }
    }
    .footer-medium-title {
      border-top: 1px solid $brand-orange;
      padding-top: 2em;
    }
  }
  #footer .block_newsletter {
    @include media-breakpoint-up(md) {
      margin-left: calc(100% - (100% / 12 * 10));
      padding-top: 2em;
    }
  }


}
