#custom-text {
  p {
    font-size: 14px;
    max-width: 800px;
  }
  img {
    max-width: 100%;
    height: 100%;
  }
}

#offer-section {
  a:not(:hover) {
    color: $brand-orange;
  }
  .offer-item {
    background-color: #f2f2f2;
    margin-bottom: 30px;
    padding: 40px 34px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: right top;
    &.cat-screens { background-image: url(../img-categories/cat-screens.png) }
    &.cat-body { background-image: url(../img-categories/cat-body.png) }
    &.cat-tapes { background-image: url(../img-categories/cat-tapes.png) }
    &.cat-connectors { background-image: url(../img-categories/cat-connectors.png) }
    &.cat-batteries { background-image: url(../img-categories/cat-batteries.png) }
    &.cat-other { background-image: url(../img-categories/cat-other.png) }
    &.cat-chargers { background-image: url(../img-categories/cat-chargers.png) }
    //&.cat-more { background-image: url(../img-categories/cat-more.png) }
  }
  .offer-section-title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .offer-section-text {
    font-size: 14px;
    line-height: 1.71em;
  }
  .offer-section-more {
    text-transform: uppercase;
  }
}

.page-content.page-cms {
  background: white;
  padding: 1.25rem;
  text-align: justify;
  .cms-box{
    img{
      max-width: 100%;
    }
  }
  ul {
    @extend p;
    list-style: disc inside none;
  }
}
@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}
