#custom-text {
  p {
    max-width: 800px;
  }
  img {
    max-width: 100%;
    height: 100%;
  }
}

#offer-section {
  .row-offers {
    display: flex;
    flex-wrap: wrap;
  }
  .offer-item {
    flex-grow: 1;
    background-color: #f2f2f2;
    margin: 0 14px 30px;
    padding: 40px 34px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: right 4% top -15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media-breakpoint-between(md, md) {
      background-size: contain;
      background-position: right -40% top 0%;
    }
    @include media-breakpoint-up(md) {
      flex-basis: calc(50% - 30px);
    }
    &.cat-screens { background-image: url(../img-categories/cat-screens.png) }
    &.cat-body { background-image: url(../img-categories/cat-body.png) }
    &.cat-tapes { background-image: url(../img-categories/cat-tapes.png) }
    &.cat-connectors { background-image: url(../img-categories/cat-connectors.png) }
    &.cat-batteries { background-image: url(../img-categories/cat-batteries.png) }
    &.cat-other { background-image: url(../img-categories/cat-other.png) }
    &.cat-chargers { background-image: url(../img-categories/cat-chargers.png) }
    &.cat-gotoshop { background-image: url(../img/wiemar_logo_01.svg) }

    &.cat-screens {
    }
    &.cat-body {
    }
    &.cat-tapes {
      background-position: right -200px top -15%;
    }
    &.cat-connectors {
    }
    &.cat-batteries {
    }
    &.cat-other {
    }
    &.cat-chargers {
    }
    &.cat-gotoshop {
      background-size: 45%;
      background-position: right 18% bottom 30%;

    }
  }



  .offer-section-title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 50%;
  }
  .offer-section-text {
    max-width: 50%;
    margin-bottom: auto;
  }
  .offer-section-more {
    text-transform: uppercase;
    font-size: 14px;
    color: $brand-orange;
    @include media-breakpoint-up(md) {
      font-size: 10px;
    }
    &::before {
      content: '';
      display: inline-block;
      margin-right: 8px;
      width: 50px;
      height: 1px;
      background-color: $brand-orange;
      vertical-align: middle;
      transition: width .3s ease;
    }
    &::after {
      content: '';
      display: inline-block;
      margin-left: 8px;
      width: 55px;
      height: 8px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAAICAYAAABd92c+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAhUlEQVQ4y92UsQ3CMBBFny3iGehvBZpIaZAYgSksUTMJtwxSushNVnALM3ANNInkAYws+VVfv3q/uINOMJWHqQxl51tLVSQCs6kcexwHMAGrqYwAzlQurY0q8SzyB7gdgHtrqz/hXWuDWpjKd4sv4BpiTr3d3AKcQswJ+nooCpxDzO+9+AHq1hqfxKYTxwAAAABJRU5ErkJggg==") no-repeat center center;
      vertical-align: middle;
      transition: width .3s ease;
    }
    @media (hover: hover) {
      &:not(:hover) {
        &::after {
          width: 0;
        }
      }
      &:hover {
        color: darken($brand-orange, 10%);
        &::before {
          width: 0;
        }
      }
    }
    @media (hover: none) {
      &::after {
        width: 0;
      }
    }


  }
  .offer-section-more,
  a {
    margin-top: 1rem;
  }
}

.page-content.page-cms {
  background: white;
  padding: 1.25rem;
  text-align: justify;
  .cms-box{
    img{
      max-width: 100%;
    }
  }
  ul {
    @extend p;
    list-style: disc inside none;
  }
}
@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}
