$thumbnail-size: 250px;
$product-description-height: 70px;

#products,.featured-products,.product-accessories,.product-miniature  {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-thumbnail {
    display: block;
  }
  .product-title a {
    color: $product-title-color;
    text-decoration: none;
    font-weight: 700;
  }
  .thumbnail-container {
    position: relative;
    margin-bottom: 1.563rem;
    height: 318px;
    width: $thumbnail-size;
    background: white;
    &:hover, &:focus {
      @include box-shadow;
      .highlighted-informations {
        opacity: 1;
      }
    }
    .product-thumbnail {
      position: relative;
      height: calc(100% - #{$product-description-height});
      img {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  .products-section-title {
    //text-align: center;
    //margin-bottom: 1.5rem;
  }
  .product-title {
    margin: 16px 0;
    font-size: 12px;
  }
  .product-price-and-shipping {
    color: $product-price-and-shipping-color;
    font-weight: 400;
    .discount-product {
      display: none;
    }
  }
  .variant-links {
    display:none!important;
    position: relative;
    text-align: center;
    width: 100%;
    top: -0.25em;
    padding-top: 0.1875rem;
    min-height: 2.5rem;
    background: white;
  }
  .highlighted-informations {
    position: absolute;
    bottom: 4.25rem;
    right: 0;
    z-index: 2;
    transition: opacity .3s;
    opacity: 0;

    .quick-view {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid $product-box-quicklook-color;
      transition: background-color .2s;
      i {
        color: $product-box-quicklook-color;
      }
      &:hover {
        background-color: $product-box-quicklook-color;
        i {
          color: white;
        }
      }
    }
  }

  .product-description {
    width: $thumbnail-size;
    bottom: 0;
    height: $product-description-height;
    font-size: $product-description-size;
  }

  .product-miniature {
    margin: 0 .8125rem;
    .product-flags {
      li.product-flag {
        min-width: 3.125rem;
        font-weight: 600;
        &.online-only {
          top: 13.1rem;
        }
      }
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $product-price-regular;
    text-decoration: line-through;
    font-size: 16px;
    display: inline-block;
    margin-right: 22px;
  }
  .price {
    .amount {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .tax-long {
    text-transform: lowercase;
    &::before {
      content: "/";
    }
  }
  .count {
    color: $gray;
    font-weight: 700;
    position: relative;
    bottom: 0.5rem;
  }
  .all-product-link {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  #products,.featured-products,.product-accessories  {
    .thumbnail-container {
      @include box-shadow;
      .product-description{
        box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .featured-products {
    .products {
      justify-content: center;
    }
  }
}
