$thumbnail-size: 250px;
$product-description-height: 70px;

#products,.featured-products,.product-accessories,.product-miniature  {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-thumbnail {
    display: block;
  }
  .product-title a {
    color: $product-title-color;
    text-decoration: none;
    font-weight: 700;
  }
  .thumbnail-container {
    position: relative;
    margin: $product-box-margin 0;
    @include media-breakpoint-up(md) {
      margin: $product-box-margin;
    }
    //height: 318px;
    //background: white;
    width: calc((320px - 30px) / 1);
    //@include media-breakpoint-up(sm) {
    //  width: calc((540px - 30px) / 1);
    //}
    @include media-breakpoint-up(md) {
      width: calc(((720px - 30px) / 2) - (2 * #{$product-box-margin}));
    }
    @include media-breakpoint-up(lg) {
      width: calc(((960px - 30px) / 3) - (2 * #{$product-box-margin}));
    }
    @include media-breakpoint-up(xl) {
      width: calc(((1140px - 30px) / 4) - (2 * #{$product-box-margin}));
    }
    @media (min-width: 1400px) {
      width: calc(((1320px - 30px) / 4) - (2 * #{$product-box-margin}));
    }
    @media (min-width: 1600px) {
      width: calc(((1556px - 30px) / 4) - (2 * #{$product-box-margin}));
    }

    .visible-on-hover {
      z-index: 2;
      position: absolute;
      right: 10px;
      @media (min-width: 1600px) {
        right: 15px;
      }
      @media (hover: hover) {
        transition: opacity .3s;
        opacity: 0;
      }
    }

    &:hover, &:focus {
      z-index: 1;
      @media (hover: hover) {
        @include box-shadow;
        .visible-on-hover {
          opacity: 1;
        }
      }
    }

    @media (hover: none) {
      @include box-shadow;
    }

    .product-thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .products-section-title {
    //text-align: center;
    //margin-bottom: 1.5rem;
  }
  .product-title {
    margin: 16px 0;
    font-size: 12px;
  }
  .product-price-and-shipping {
    color: $product-price-and-shipping-color;
    font-weight: 400;
    .discount-product {
      display: none;
    }
  }
  .variant-links {
    display:none!important;
    position: relative;
    text-align: center;
    width: 100%;
    top: -0.25em;
    padding-top: 0.1875rem;
    min-height: 2.5rem;
    background: white;
  }
  .highlighted-informations {
    bottom: 80px;

    .quick-view {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $product-box-quicklook-color;
      border: 1px solid $product-box-quicklook-color;
      transition: background-color .2s;
      i {
        color: white;
      }
      @media (hover:hover) {
        &:not(:hover) {
          background-color: transparent;
          i {
            color: $product-box-quicklook-color;
          }
        }
      }
    }
  }

  #add-to-cart-or-refresh {
    bottom: 15px;

    button {
      outline: 0;
      background-color: $brand-orange;
      border: 1px solid $brand-orange;

      i {
        color: white;
      }

      @media (hover:hover) {
        &:not(:hover) {
          background-color: transparent;
          i {
            color: $brand-orange;
          }
        }
      }

    }
  }

  .round-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: transparent;
  }

  .product-description {
    width: $thumbnail-size;
    bottom: 0;
    height: $product-description-height;
    font-size: $product-description-size;
    margin-left: auto;
    margin-right: auto;
  }

  .product-miniature {
    margin: 0;
    .product-flags {
      li.product-flag {
        min-width: 3.125rem;
        font-weight: 600;
        &.online-only {
          top: 13.1rem;
        }
      }
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $product-price-regular;
    text-decoration: line-through;
    font-size: 16px;
    display: inline-block;
    margin-right: 22px;
  }
  .price {
    .amount {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .tax-long {
    text-transform: lowercase;
    &::before {
      content: "/";
    }
  }
  .count {
    color: $gray;
    font-weight: 700;
    position: relative;
    bottom: 0.5rem;
  }
  .all-product-link {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}


@include media-breakpoint-down(md) {
  .featured-products {
    .products {
      justify-content: center;
    }
  }
}
