.footer-medium-title {
  color: $footer-text-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 1.1em;
  a:not(:hover) {
    color: inherit;
  }
}

.block-contact {
  color: $footer-text-color;
  .block-contact-container {
  }
  .block-contact-title {
    margin-bottom: 0.9em;
  }
  i {
    font-size: 20px;
    color: $brand-orange;
    margin: .3rem .5rem .3rem 0;
  }
  span {
    font-size: 14px;
  }
  a:not(:hover) {
    color: inherit;
  }
}

.block-social {
  text-align: right;
  ul {
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-flow: wrap;
    }
    li {
      height: 2.5rem;
      width: 2.5rem;
      background-color: $gray-light;
      background-repeat: no-repeat;
      display: inline-block;
      margin: 0.125rem;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        height: 2rem;
        width: 2rem;
        margin-right: 1.3rem;
        margin-bottom: 1.3rem;
        background-size: contain;
      }

      &:hover {
        background-color: $brand-primary;
      }
      a {
        display: block;
        height: 100%;
        white-space: nowrap;
        text-indent: 100%;
        overflow: hidden;
        &:hover {
          color: transparent;
        }
      }
    }
  }
}
.facebook {
  background-image: url(../img/facebook.svg);
  &::before{
    content:"";
    background-image: url(../img/facebook-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/facebook-gray.svg);
    &:hover {
      background-image: url(../img/facebook-blue.svg);
    }
  }
}
.twitter {
  background-image: url(../img/twitter.svg);
  &::before{
    content:"";
    background-image: url(../img/twitter-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/twitter-gray.svg);
    &:hover {
      background-image: url(../img/twitter-blue.svg);
    }
  }
}
.rss {
  background-image: url(../img/rss.svg);
}
.youtube {
  background-image: url(../img/youtube.svg);
}
.googleplus {
  background-image: url(../img/gplus.svg);
  &::before{
    content:"";
    background-image: url(../img/gplus-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/gplus-gray.svg);
    &:hover {
      background-image: url(../img/gplus-blue.svg);
    }
  }
}

.pinterest {
  background-image: url(../img/pinterest.svg);
  &::before{
    content:"";
    background-image: url(../img/pinterest-blue.svg);
  }
  &.icon-gray {
    background-image: url(../img/pinterest-gray.svg);
    &:hover {
      background-image: url(../img/pinterest-blue.svg);
    }
  }
}
.vimeo {
  background-image: url(../img/vimeo.svg);
}
.instagram {
  background-image: url(../img/instagram.svg);
}

#footer {

  #search_filters_brands {
    background-color: #f2f2f2;
    .brand-item {
      margin: 0;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        height: 200px;
        @media (hover: hover) {
          &:not(:hover) {
            opacity: .4;
          }
        }
      }
      img {
        max-width: 120px;
        max-height: 38px;
        @include media-breakpoint-up(md) {
          max-width: 190px;
          max-height: 50px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 240px;
          max-height: 75px;
        }
      }
    }

    @include swiper-controls(#000);
  }

  #users_reviews_slider {
    background-color: #3c3c3c;
    .review-item {
      margin: 0;
      padding: 50px;
      font-size: 14px;
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
      &::before {
        content: '';
        display: block;
        border-top: 1px solid #7e7e7e;
        width: 100%;
      }

      .review-name {
        color: $brand-orange;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1rem;
        @include media-breakpoint-down(md) {
          font-size: 16px;
        }
      }
      .review-text {
        color: #7e7e7e;
      }
    }

    @include swiper-controls(#fff);
  }

  #contact_title {
    margin: 30px 0;
    p {
      margin-left: 15px;
      margin-right: 15px;
      @include media-breakpoint-up(md) {
        margin-left: 6rem;
      }
    }
  }
}
.footer-container {
  li {
    margin-bottom: 0.7rem;
  }
  li a {
    cursor: pointer;
    font-size: 14px;
    &:not(:hover) {
      color: $footer-text-color;
    }
    &:hover {
      color: lighten($footer-text-color, 20%);
    }
  }

  .footer-copy-row {
    p {
      font-size: 12px;
      color: #0e0e0e;
    }
  }
}

.links {
  @include media-breakpoint-down(md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    &#block_myaccount_infos {
      display: none!important;
    }
  }
  @include media-breakpoint-down(xs) {
    border-bottom: 15px solid $brand-gray;
  }
}


@include media-breakpoint-down(sm) {
  .footer-container {
    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
@include media-breakpoint-down(md) {
  .block-social {
    text-align: center;
  }
}
