// ######## DESKTOP AND MOBILE SHARED, MOSTLY FOR ICONS
.top-menu {
  &[data-depth="0"] {
    & > .category {
      &::before {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &[id^="category-10"]::before { background-image: url(../img-cat-menu/002-smartphone.svg); }
      &[id^="category-11"]::before { background-image: url(../img-cat-menu/004-smartphone-2.svg); }
      &[id^="category-12"]::before { background-image: url(../img-cat-menu/003-smartphone-1.svg); }
      &[id^="category-13"]::before { background-image: url(../img-cat-menu/001-usb.svg); }
      &[id^="category-14"]::before { background-image: url(../img-cat-menu/002-battery.svg); }
      &[id^="category-15"]::before { background-image: url(../img-cat-menu/004-charger.svg); }
      &[id^="category-16"]::before { background-image: url(../img-cat-menu/005-cpu.svg); }
    }
  }
}

// ######## DESKTOP ONLY
.menu-desktop-wrapper .top-menu {
  font-size: 14px;
  &[data-depth="0"] {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & > .category {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 50px;
      padding: 0 30px;
      border-radius: 7px 7px 0 0;
      &::before {
        width: 24px;
        height: 24px;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0 4px 11.68px 4.32px rgba(0, 0, 0, 0.1);
        &::after {
        }
        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &[data-depth="1"] {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  a[data-depth="0"] {
    padding: 0 0 0 6px;
    &:hover {
      #header & {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
  a[data-depth="1"] {
    display: block;
    border-radius: 0 42px 42px 0;
    padding: 0 28px;
    line-height: 42px;
    min-width: 266px;
    &:hover {
      color: inherit;
      background-color: $header-menu-bgn;
    }
  }
  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 9px 11.68px 0.32px rgba(0, 0, 0, 0.1);
    border-radius: 0 7px 7px 7px;
    width: 485px;
    z-index: 18;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &.right {
      left: auto;
      right: 0;
      border-radius: 7px 0 7px 7px;
    }
    @include media-breakpoint-down(md) { //BECAUSE ITS NOT NEEDED ON MOBILE
      display: none;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 0;
      right: -24px;
      height: 250px;
      //background-image: look for DESKTOP SUBMENU BACKGROUNDS section in this file
      background-position: right top;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;
    }

    .title {
      color: #a5a5a5;
      padding: 28px;
    }
  }
}
// ######## DESKTOP SUBMENU BACKGROUNDS
.menu-desktop-wrapper .top-menu[data-depth="0"] li {
  &[id^="category-10"] .sub-menu::before { background-image: url(../img-categories/cat-screens.png); }
  &[id^="category-11"] .sub-menu::before { background-image: url(../img-categories/cat-body.png); }
  &[id^="category-12"] .sub-menu::before { background-image: url(../img-categories/cat-tapes.png); }
  &[id^="category-13"] .sub-menu::before { background-image: url(../img-categories/cat-connectors.png); }
  &[id^="category-14"] .sub-menu::before { background-image: url(../img-categories/cat-batteries.png); }
  &[id^="category-15"] .sub-menu::before { background-image: url(../img-categories/cat-chargers.png); }
  &[id^="category-16"] .sub-menu::before { background-image: url(../img-categories/cat-other.png); }

  &[id^="category-12"] .sub-menu::before {
    height: 200px;
    right: -40px;
  }
}

// ######## MOBILE ONLY
.menu-mobile-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: .2s ease;
  background-color: rgba(0, 0, 0, .46);
  padding: 15px;
  &:not(.isVisible) {
    display: none !important;
  }
  .menu-mobile-wrapper-inside {
    filter: drop-shadow(0 9px 11.68px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .menu-hamburger {
    background-color: #fff;
    padding: 14px;
    border-radius: 14px 14px 0 0;
  }
  .menu-mobile-wrapper-title {
    background-color: #fff;
    width: 100%;
    line-height: 4em;
    padding-left: 1.2em;
    border-radius: 14px 0 0 0;
  }
  .top-menu {
    font-size: 14px;
    &[data-depth="0"] {
      max-height: calc(100% - 53px - 64px); // hamburger; title
      overflow: auto;
      height: 100%;
      width: 100%;
      margin: 0;
      background-color: #fff;
      border-radius: 0 0 14px 14px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      & > .category {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        border-radius: 0 14px 14px 0;
        padding: 0 0 0 30px;
        &::before {
          width: 24px;
          height: 24px;
        }
        &:hover {
          background-color: $header-menu-bgn;
        }
      }
    }
    &[data-depth="1"] {
    }
    a[data-depth="0"] {
      padding: 0 0 0 10px;
      line-height: 3em;
    }
    a[data-depth="1"] {
    }
    .sub-menu {
      flex-basis: 100%;
      display: none;
      .title {
        display: none;
      }
    }
  }
}
