.top-menu {
  font-size: 14px;
  &[data-depth="0"] {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & > .category {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 50px;
      padding: 0 30px;
      border-radius: 7px 7px 0 0;
      &::before {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
      }
      &[id^="category-1"]::before { background-image: url(../img-cat-menu/002-smartphone.svg); }
      &[id^="category-2"]::before { background-image: url(../img-cat-menu/004-smartphone-2.svg); }
      &[id^="category-3"]::before { background-image: url(../img-cat-menu/003-smartphone-1.svg); }
      &[id^="category-4"]::before { background-image: url(../img-cat-menu/001-usb.svg); }
      &[id^="category-5"]::before { background-image: url(../img-cat-menu/002-battery.svg); }
      &[id^="category-6"]::before { background-image: url(../img-cat-menu/004-charger.svg); }
      &[id^="category-7"]::before { background-image: url(../img-cat-menu/005-cpu.svg); }

      &:hover {
        background-color: #fff;
        box-shadow: 0 4px 11.68px 4.32px rgba(0, 0, 0, 0.1);
        &::after {
        }
      }
    }
  }
  &[data-depth="1"] {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  a:not([data-depth="0"]):not([data-depth="1"]) {
  }
  a.dropdown-submenu {
    //color: $gray-darker;
  }
  a[data-depth="0"] {
    padding: 0 0 0 6px;
    &:hover {
      #header & {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
  a[data-depth="1"] {
    border-radius: 0 42px 42px 0;
    padding: 0 28px;
    line-height: 42px;
    min-width: 266px;
    &:hover {
      color: inherit;
      background-color: $header-menu-bgn;
    }
  }
  .collapse {
    display: block;
  }
  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 9px 11.68px 0.32px rgba(0, 0, 0, 0.1);
    border-radius: 0 7px 7px 7px;
    width: 485px;
    z-index: 18;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 0;
      right: -24px;
      height: 250px;
      background-image: url(../img-cat-menu/menu-battery.png);
      background-position: right top;
      background-repeat: no-repeat;
      pointer-events: none;

      .top-menu[data-depth="0"] li[id^="category-"] & { background-image: url(../img-cat-menu/menu-battery.png); }
      .top-menu[data-depth="0"] li[id^="category-"] & { background-image: url(../img-cat-menu/menu-battery.png); }
      .top-menu[data-depth="0"] li[id^="category-"] & { background-image: url(../img-cat-menu/menu-battery.png); }
      .top-menu[data-depth="0"] li[id^="category-"] & { background-image: url(../img-cat-menu/menu-battery.png); }
      .top-menu[data-depth="0"] li[id^="category-"] & { background-image: url(../img-cat-menu/menu-battery.png); }
      .top-menu[data-depth="0"] li[id^="category-"] & { background-image: url(../img-cat-menu/menu-battery.png); }

    }

    .title {
      color: #a5a5a5;
      padding: 28px;
    }
  }
}

#_desktop_top_menu {
  .top-menu {
    &[data-depth="0"] {
      li {
        &:hover {
          .sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

#mobile_top_menu_wrapper {
  padding: 15px;
  background: white;
  #top-menu {
    margin-bottom: 0.625rem;
  }
  .top-menu {
    color: $gray-darker;
    .collapse-icons[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .collapse-icons .remove {
      display: none;
    }
    .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
    a[data-depth="0"] {
      padding: 0.625rem;
      border-bottom: 1px solid $gray-lighter;
    }
    .collapse {
      display: none;
      &.in {
        display: block;
      }
    }
    .sub-menu {
      &.collapse {
        display: none;
        &.in {
          display: block;
        }
      }
      box-shadow: none;
      z-index: inherit;
      display: block;
      position: static;
      overflow: hidden;
      margin-left: 0;
      width: 100%;
      min-width: 100%;
      background: white;
      ul[data-depth="0"] > li {
        border-bottom: 1px solid $gray;
      }
      ul[data-depth="1"] {
        margin: 0;
        > li {
          float: none;
          margin: 0;
          a {
            text-transform: none;
          }
        }
      }
      ul {
        padding: 0;
      }
      li > a {
        padding: 0.625rem;
        border-bottom: 1px solid white;
        font-weight: bold;
      }
      ul[data-depth="2"] li a {
        padding-left: 1.25rem;
      }
      ul[data-depth="3"] li a {
        padding-left: 2.5rem;
      }
      ul[data-depth="4"] li a {
        padding-left: 3.75rem;
      }
    }
  }
  .js-top-menu-bottom {
    a {
      color: $gray;
    }
    .language-selector-wrapper {
      padding: 0.625rem;
      .language-selector {
        display: inline;
      }
    }
    .currency-selector {
      padding: 0.625rem;
    }
    #contact-link {
      padding: 0.625rem;
    }
    .user-info {
      padding: 0 0.625rem;
      a {
        padding: 0.625rem 0;
        display: block;
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .top-menu {
    .sub-menu {
      opacity: 1;
      visibility: visible;
      transition: 0.5s ease-out;
    }
  }
}
