@mixin search-box {
  form {
    position: relative;
    input[type=text] {
      &:focus {
        color: $gray-darker;
        background: white;
        //+ button .search {
        //  color: $brand-primary;
        //}
      }
      padding: 7px 30px;
      min-width: 255px;
      color: $gray;
      font-size: 14px;
      border: 1px solid $brand-orange;
      border-radius: 36px;
    }
    button[type=submit] {
      position: absolute;
      background: $brand-orange;
      border: none;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 0 36px 36px 0;
      color: #fff;
      cursor: pointer;
      .search:hover {
        color: $brand-gray;
      }
    }
  }
}

@mixin box-shadow {
  box-shadow: 0 4px 16px 5px rgba(0, 0, 0, 0.1);
}

@mixin box-shadow-light {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin wiemar-title {
  display: inline-block;
  font-size: 30px;
  line-height: 2.25;
  margin-bottom: .5em;
  @include media-breakpoint-down(md) {
    padding-left: 15px;
  }
  @include media-breakpoint-up(md) {
    display: block;
    width: 360px;
    font-size: 36px;
    text-align: center;
  }
  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid $brand-orange;
    width: 100%;
    @include media-breakpoint-down(md) {
      width: calc(100% + 15px);
      margin-left: -15px;
    }
  }
}

@mixin swiper-controls($arrow-color) {
  .swiper-button-next,
  .swiper-button-prev {
    color: $arrow-color;
    @media (hover: hover) {
      &:not(:hover) {
        opacity: .4;
      }
    }

    &::after {
      font-size: 18px;
      @include media-breakpoint-up(sm) {
        font-size: 36px;
      }
    }
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    @include media-breakpoint-up(md) {
      left: 0;
    }
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    @include media-breakpoint-up(md) {
      right: 0;
    }
  }

}